*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    color:white;
    background-color: blueviolet;
}

.main-content{
    display:flex;
    flex-flow: row nowrap;
    min-height: 100vh;

}
.sidebar{
    display:flex;
    flex-flow: column nowrap;
    padding:1rem 0.4rem;
    gap:1rem;
    background-color: rgb(240, 240, 240);
}

.project{
    transition: all 0.4s ease-in-out;
    padding:0.5rem;
    border-radius: 8px;
}
.project:hover, .active-project{
    background-color: rgb(240, 232, 209);
}
.project > .inbox{
    color:rgb(17, 141, 17)
}
.project > .today{
    color:rgb(6, 88, 240);
}
.project > .next-week{
    color:lightcoral;
}
h3{
    text-align: center;
    margin-top:1rem;
}

.tasks-content{
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    padding:0.5rem 0.3rem;
    flex-grow:1;
    background-color: rgb(255, 255, 255);
}
.sidebar > .project{
    display:flex;
    align-items: center;
    gap:0.9rem;
}

.add-project{
    border-radius: 5px;
    order:1;
    font-weight: bold;
    padding:0.2rem 0.5rem;
    color:black;
    background-color: white;
    transition: all 0.4s ease-in-out;
}

.add-project:hover, .add-task:hover{
    background-color: black;
    color:white;
}

.add-task{
    transition: all 0.4s ease-in-out;
    margin-top:2.5rem;
    border-radius: 5px;
    font-weight: bold;
    padding:0.2rem 1.8rem;
    color:black;
    background-color: white;
}
.project-list{
    display:flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}
li{
    list-style: none;
}
.add-project-modal{
    display:flex;
    display:none;
    flex-flow: column nowrap;
    padding:1rem 4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    align-items: center;
    position: absolute;
    left:50%;
    top:30%;
    color:black;
    transform: translate(-50%,-30%);
    gap:1rem;
    border:2px solid rgb(0, 0, 0);
}
.add-project-buttons{
    display:flex;
    gap:0.8rem;
}
.add-project-buttons > button{
    padding:0.5rem 0.6rem; 
    border-radius: 8px;
    font-size:1rem;
}
.add-project-modal > input{
    border-radius: 6px;
    padding:0.2rem 0.4rem;
    outline: none;
}
.add-project-modal > h3{
    margin-top: 0;
}
.project-cancel{
    background-color: rgb(255, 0, 0);
    color:white;
}
.project-add{
    background-color: rgb(255, 255, 255);
    color:rgb(10, 4, 4);
    transition: all 0.4s ease-in-out;
}
.project-add:hover{
    color:White;
    background-color:rgb(255, 174, 0);
}
.tasks-list{
    margin-top:2rem;
    display:flex;
    width:100%;
    flex-flow: column nowrap;
    align-items: center;
    gap:1rem;
}
.task{
    font-size:0.9rem;
    display:flex;
    justify-content: space-between;
    gap:0.4rem;
    padding:0.3rem 0.2rem;
    width:95%;
    max-width:40rem;
    align-items: center;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 6px;
}
.task-completed > p{
    color:grey;
    text-decoration: line-through;
}
.task > p{
    flex-grow:1;
}
.task-icons{
    display: flex;
    gap:0.15rem;
    transform: scale(0.8);
    transition:all 0.4s ease-in-out
}

.task-icons > span{
    padding:0.15rem;
    border-radius: 5px;

}
.delete-task-icon:hover, .edit-task-icon:hover{
    background-color: rgb(241, 241, 241);
}
.priority-icon{
    color:rgb(255, 166, 0);
}
.delete-task-icon{
    color:red;
}
